.new{
    /* height: 1000px; */
    text-align: center;
    width: 100%;
    background: #F1678D;
    margin-top: 100px;
}
.new h1{
    color: #fff;
    line-height: 50px;
}
.imgs,.imgss{
    width: 100%;
    position: relative;
}
.imgs>div,.imgss>div{
    padding: 0px;
}
.imgs ul,.imgss ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.imgs ul>li{
    width: 16.6%;
    height: 200px;
    float: left;
    overflow: hidden;
}
.imgss ul>li{
    width: 50%;
    height: 200px;
    float: left;
    overflow: hidden;
}
/* div{
    width:600px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
} */
.imgs img,.imgss img{
    transition: transform 0.5s ease-in 0s;
    transform: scale(1,1);
}
.imgs img:hover,.imgss img:hover{
    transform:scale(1.5,1.5);
    opacity: 0.8;
}