*{
    margin: 0px auto;
    padding: 0px;
}
.banner{
    width: 1280px;
    height: auto;
    position: relative;
    overflow: auto;
}
.banner>a>img{
    width: 1280px;
    height: auto;
    float: left;
}

.nav2{
    width: 1280px;
    height: 40px;
    background:#8a1529;
    margin-bottom: 4px;
    position: relative;
    padding: 0px;
}
.nav2>ul{
    width: 1280px;
    height: 40px;
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav2>ul>li{
    float: left;
    width: auto;
    height: 40px;
    /* cursor: pointer; */
    line-height: 40px;
}
.nav2>ul>li>a{
    display: block;
    padding: 0 18px;
    width: auto;
    height: 35px;
    font-size: 13px;
    color:  #fff;
    text-decoration: none; 
    margin-top: 5px;
}
.nav2>ul>li>a:hover{
    color: #000;
}

.mains{
    width: 962px;
    height: auto;
    overflow: auto;
    position: relative;
}