.centers{
    width:100%;
    height: 800px;
   
  
}
.centers>.navs{
    margin-right: 150px;
    float: right;
    height: 73px;
}
.centers>.navs>a,span{
    height: 73px;
    line-height: 73px;
    font-size: 12px;
    color: #999;
    text-decoration: none;
    margin-right: 5px;
}
.centers>.size{
    clear: both;
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.centers>.size>p{
    margin: 0 auto;
    width: 882px;
    font-size: 16px;
    color: #8a8683;
    text-align: left;
    line-height: 200%;
    margin-top: 32px;
}
.centers>.q{
    width: 100%;
    height: auto;
    margin-top: 60px;
    margin-top: 0 auto;
}
.centers>.q>.a{
    width: 430px;
    height: 318px;
    float: left;
    margin:0 auto;
    margin-top: 10px;
}
.centers>.q>.a>img{
    width: 430px;
    height: 318px;
}
.centers>.q>.a>span{
    display: block;
    position: absolute;
    width: 430px;
    height: 74px;
    background-color: #1a355e;
    text-align: center;
    margin-top: -74.88px;
    line-height: 74.88px;
    color:#fff;
    opacity: .8;
}
