
.header{
    display: block;
    height: auto; 
    background: #F1678D;
    text-align: center;
    position: relative;
    z-index: 2;
}
 .header a{
    display: inline-block;
    font-size: 22px;
    color:#FBD1DD;
    margin: 0px 30px 10px;
    text-decoration: none;
} 
.header a:hover{
    color: #fff;
}
.header h1{
    font-size: 3em;
    color:#fff;
}
.header span{
    padding-top: 20px;
    position: relative;
    top: 20px;
    font-size: 90%;
}

.header1{
    display: none;
    /* opacity: 0; */
    height: 100px; 
    background: #fff;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 8;
    width: 100%;
    color:#FBD1DD;
    margin-bottom: 1000px;
    border-bottom: 1px solid #ccc;
}
.header1>div{
    height: 100px; 
    margin-bottom: 300px;
}
.header1 a{
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    color:#999;
    margin: 0px 30px 10px;
    text-decoration: none;
    font-weight: bold;
}
.header1 a:hover{
    color: #000;
}
.header1 h1{
    line-height: 50px;
    font-size: 2.6em;
    color:#000;
}
.header1 h1:hover{

    color:#F1678D;
}
.header1 span{
    padding-top: 10px;
    position: relative;
    top: 10px;
    font-size: 90%;
}
/* _____________________________ */

.header2{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 8;
    height: 85px;
    width: 100%;
    background: #fff;
    margin: 0px;
    padding: 20px 0px 0px;
    border-bottom: 1px solid #999;
}
.header2.low{
    height: 60px;
    padding: 10px 0px 0px;

}
.header2 img{
    height: 45px;
}
.header2>.img1>img{
    float: right;
    height: 40px;
}
.header3{
    position: fixed;
    top: 60px;
    left: 0px;
    z-index: 9;
    width: 100%;
    background: #fff;
    margin: 0px;
    padding: 0px;
}
.header3 a{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 2rem;
    line-height: 50px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
}
.header3 a:hover{
    color: #333;
}
/*
_____________________________________________________________
 */


.banner{
    height: auto; 
    background: #F1678D;
    text-align: center;
    padding:80px 0px 150px 0px;
    position: relative;
}
.banner>div>h1{
    background: #F1678D;
    font-size: 4.8em;
    color:#fff;
    margin: 80px 0px 10px;
}
.banner>div>p{
    color:#fff;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.banner span{
    display: block;
    border-radius: 50px;
    font-size: 2.2em;
    color:#fff;
}

.content,.content2{
    text-align: center;
    margin: 60px 0px 0px;
    position: relative;
    overflow: hidden;
}
.content>div,.content2>div{
    position: relative;
    top: 350px;
}
.content p,.content2 p{
    font-size: 1.1em;
    margin: 50px 0px;
}
.content img,.content2 img{
    padding-top: 20px;
}
.content a,.content2 a{
    display: inline-block;
    width: 160px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    font-size: 1.3em;
    color:#fff;
    background: #F485A4;
    text-decoration: none;
}
.content a:hover,.content2 a:hover{
    background: #F1678D;
}
.content2 h4{
    font-size: 22px;
    margin-top: 20px;
}
.content2 h4:hover{
    color: #F485A4;
}

.content1{
    text-align: center;
    margin: 120px 0px 0px;
    position: relative;
    height: auto;
    overflow: hidden;
}
.content1 .p1{
    margin: 20px 0px 0px;
}
.content1 p,.footer1 p{
    font-size: 1.5rem;
}


.content3{
    text-align: center;
    margin: 60px 0px 0px;
    position: relative;
    overflow: hidden;
}
.content3>div{
    position: relative;
    background: #F2F2F2;
    overflow: hidden;
}
.content3 h1{
    display: none;
    position: relative;
    font-size: 5rem;
    margin: 50px 0px;
}
.content3 p{
    font-size: 1.1em;
    margin: 0px;
}
.content3 img{
    position: relative;
    top: 50px;
    opacity: 0.5;
}
.content3 a{
    display: inline-block;
    width: 160px;
    height: 60px;
    line-height: 60px;
    border-radius: 50px;
    font-size: 1.3em;
    color:#fff;
    background: #F485A4;
    text-decoration: none;
    margin: 50px 0px;
}
.content3 a:hover{
    background: #F1678D;
}
.content3 >.a0{
    position: absolute;
    top: 350px;
    left: 140px;
    width: 900px;
    height: 613px;
    background: #fff;
    opacity: 0.5;
    z-index: 5;
}
.content3 .a1{
    position: absolute;
    top: 60%;
    left: 43%;
    z-index: 6;
}


.footer{
    margin-top: 60px ;
    text-align: center;
    position: relative;
    height: 300px;
    background: #111;
}
.footer>div{ 
    position: relative;
}
.footer p{
    color: #fff;
}
.footer span{
    color: #F485A4;
}
.footer img{
    position: relative;
    display: none;
    padding: 30px 0px;
}
.footer1{
    text-align: center;
    position: relative;
}
.footer1 img{
    width: 100%;
}
.footer1 a{
    color: #F485A4;
}