*{
    padding: 0px;
    margin: 0px;
}
/* header开始 */
div.go_top{
    display: none;
    position: fixed;
    right: 0px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    z-index: 1000;
}
div.header{
    width: 100%;
    position: absolute;
    line-height: 80px;
    z-index: 9;
    text-align: center;
}
div.header.show a{
    color: #005;
}
div.header a{
    color: #fff;
    text-decoration: none;
}
div.header a:hover{
    color: #005;
}
div.header ul{
    list-style-type: none;
}
div.header li{
    float: left;
    width: 6em;
    text-align: center;
}
div.header .menu{
    line-height: 25px;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.95;
    padding: 0px;
    width: 80px;
}
div.menu ul{
    list-style-type: none;
    position: relative;
    top:-10px;
}
div.menu li{
    background: #fff;
    height: 6em;
    border-bottom: 1px #333 dashed;
}
div.menu .li1{
    border-bottom: 1px #333 solid;
}
div.menu li>img{
    padding-top: 10px;
    padding-bottom: 15px;
}
#side{
    position: fixed;
    right: 90px;
    top: 80px;
    width: 160px;
    line-height: 60px;
}
#side>img{
    width: 160px;
    height: 60px;
}
#wechat{
    position: fixed;
    right: 60px;
    top: 340px;
    width: 160px;
    line-height: 60px;
}
/* header效果开始 */
div.header.show{
    background: #fff;
    opacity: 0.95;
}
/* 明星系列下拉列表开始 */
div.headershow{
    width: 100%;
    position: absolute;
    top: 80px;
    line-height: 80px;
    z-index: 9;
    text-align: center;
    background: #fff;
    opacity:0.95;
}
div.headershow ul{
    margin-left: 500px;
    list-style-type: none;
}
div.headershow li{
    float: left;
    width: 150px;
    text-align: center;
}
div.headershow a{
    text-decoration: none;
    color: #333;
}

/* 明星系列下拉列表结束 */
/* 产品列表下拉列表开始 */

div.headershow1{
    padding-left: 500px;
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: 9;
    background: #fff;
    opacity: 0.9;
    text-align: left;
}
div.headershow1 ul{
    margin-top: 1.3em;
    list-style-type: none;
    float: left;
    padding-right: 30px;
}
div.headershow1 li{
    float: none;
    width: 100px;
    line-height: 20px;
    margin: 10px 0px;
}
div.headershow1 .b0{
    border-right: 1px dashed #333;
}
div.headershow1 a{
    text-decoration: none;
    color: #333;
}

/* 产品列表下拉列表结束 */
/* 技术服务下拉列表开始 */

div.headershow2{
    width: 100%;
    position: absolute;
    top: 80px;
    line-height: 80px;
    z-index: 9;
    text-align: center;
    background: #fff;
    opacity: 0.9;
}
div.headershow2 ul{
    margin-left: 700px;
    list-style-type: none;
}
div.headershow2 li{
    float: left;
    width: 150px;
    text-align: center;
}
div.headershow2 a{
    text-decoration: none;
    color: #333;
}

/* 技术服务下拉列表结束 */
/* header效果结束 */
/* header结束 */
/* banner开始 */

div.banner .ols{
    position: absolute;
    left: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
}
div.banner .ols>li{
    width: 0.7em;
    height: 0.7em;
    border: 0px;
    border-radius: 0px;
}

/* banner结束 */
/* nav开始 */
div.nav{
    height: 1000px;
}

/* nav结束 */
/* footer开始 */

div.footer{
    background: #F6F6F6;
}
div.footer ul{
    margin-top: 50px;
    list-style-type: none;
    float: left;
}
div.footer1 li{
    width: 150px;
    line-height: 30px;
}
div.footer a,.footer_bot a{
    color: #777;
}
div.footer2 li{
    width: 200px;
    line-height: 46px;
}
.footer_imgs img{
    width: 200px; 
}
.footer_text{
    font-size: 30px;
}
.footer_bot{
    padding-top: 50px;
    padding-bottom: 70px;
    background: #F6F6F6;
}
.footer_bot_1{
    text-align: right;
}
/* footer结束 */

/*-----------------------移动端开始---------------------------*/
/* div.banner0{
    height: 1000px;
} */
div.banner0 img{
    width: 100%;
    height:auto;
}
div.header0{
    position: absolute;
    top: 20px;
    z-index: 9;
    width: 100%;
}
div.header0 .img_0{
    float: right;
}
.show_0{
    background: #fff;
    z-index: 999;
    position: absolute;
    width: 100%;
}
.show_0 .show_0_0{
    width: 100px;
    margin: 30px 30px;
}
.show_0 .show_0_1{
    height: 70px;
    float: right;
}
.show_0 ul{
    list-style-type: none;
}
.show_0 li{
    line-height: 50px;
    border-bottom: 1px solid #777;
}
.show_0 span{
    float: right;
    font-size: 26px;
}
.show_0 a{
    color: #333;
    margin-left: 20px;
}
.show_0 a>img{
    width: 20px;
}
.show_0 .button-1,.show_0 .button-2,.show_0 .button-3,.button-2>ul>li{
    padding-right: 10px;
    border-bottom: 0px ;
}
.show_0 li>div{
    border-bottom: 1px solid #777;
}
.img22>img{
    width:216px;
    height:48.5px;
}

/*
.content0{
    height: 1000px;
    background: #ccc;
}
*/

.footer0{
    text-align: center;
    margin-bottom: 50px;
}
.footer0 a{
    color: #5d5d5d;
}