.Temp{
    height: auto;
    text-align: center;
    margin-top: 60px;
    background: #F2F2F2;
}
.step1 h1{
    margin-top: 60px;
    font-size: 48px;
    opacity: 0;
}
.step1 p{
    margin-top: 30px;
    font-size: 16px;
}
.step1 a{
    display: inline-block;
    height: 52px;
    padding: 0px 20px;
    margin: 80px 5px 0px;
    line-height: 52px;
    text-align: center;
    color: #000;
    background: #fff;
    border-radius: 26px;
    text-decoration: none;
    position: relative;
    opacity: 0.6;
}
.step1 a:hover{
    background: #F1678D;
    color: #fff;
}
.step1 .all{
    position: relative;
    left: -150px; 
}
.step1 .ad{
    position: relative;
    left: 150px; 
}
.step2,.step3,.step4{
    margin-top: 20px;
}
.step2>div{
    width: 350px;
    overflow: hidden; 
}
.step2 p{
    padding: 20px 0px;
    font-size: 30px;
    color: #F1678D;
}
.step2 img{
   position: relative;
   left: 0px;
   top: 10px; 
}
/* .step2 img{
    transition: transform 0.5s ease-in 0s;
    transform:translate(0px);
}
.step2 img:hover{
    transform:translate(100px);
} */
.step2>div>div{
    position: absolute;
    background: #94DAF0;
    top: 0px;
    left: -80%;
    width: 80%;
    height: 100%;
}
.step2>div>div>.p1{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 50px 0px 0px;
}
.step2>div>div>.p2{
    color: #F1678D;
    font-size: 24px;
    padding: 10px 0px 0px;
}
.step2>div>div>p>a{
    font-size: 16px;
    display: inline-block;
    height: 52px;
    padding: 0px 20px;
    line-height: 52px;
    color: #fff;
    background: #F1678D;
    border-radius: 26px;
    text-decoration: none;
    opacity: 0.6;
}
.step2>div>div>p>a:hover{
    opacity: 1;
}
.step2>div>div>span{
    margin-top: 30px;
    color: #fff;
}