*{
    padding: 0px;
    margin: 0px;
}
/* header开始 */
div.go_top{
    display: none;
    position: fixed;
    right: 0px;
    bottom: 16px;
    width: 40px;
    height: 40px;
    z-index: 1000;
}
div.header{
    width: 100%;
    position: absolute;
    line-height: 80px;
    z-index: 9;
    text-align: center;
}
div.header.show a{
    color: #005;
}
div.header a{
    color: #fff;
    text-decoration: none;
}
div.header a:hover{
    color: #005;
}
div.header ul{
    list-style-type: none;
}
div.header li{
    float: left;
    width: 6em;
    text-align: center;
}

div.header .menu{
    line-height: 25px;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
    opacity: 0.6;
    padding: 0px;
    width: 80px;
    z-index: 99;
}
div.menu ul{
    list-style-type: none;
    position: relative;
    top:-10px;
}
div.menu li{
    background: #fff;
    height: 6em;
    border-bottom: 1px #333 dashed;
}
div.menu .li1{
    border-bottom: 1px #333 solid;
}
div.menu li>img{
    padding-top: 10px;
    padding-bottom: 15px;
    z-index: 99;
}
#side{
    position: fixed;
    right: 90px;
    top: 80px;
    width: 160px;
    line-height: 60px;
}
#side>img{
    width: 160px;
    height: 60px;
}
#wechat{
    position: fixed;
    right: 60px;
    top: 340px;
    width: 160px;
    line-height: 60px;
}

/* header效果开始 */

div.header.show{
    background: #fff;
    opacity: 0.8;
}
/* 明星系列下拉列表开始 */
div.headershow{
    width: 100%;
    position: absolute;
    top: 80px;
    line-height: 80px;
    z-index: 9;
    text-align: center;
    background: #fff;
    opacity: 0.9;
}
div.headershow ul{
    margin-left: 500px;
    list-style-type: none;
}
div.headershow li{
    float: left;
    width: 150px;
    text-align: center;
}
div.headershow a{
    text-decoration: none;
    color: #333;
}

/* 明星系列下拉列表结束 */
/* 产品列表下拉列表开始 */

div.headershow1{
    padding-left: 500px;
    width: 100%;
    position: absolute;
    top: 80px;
    z-index: 9;
    background: #fff;
    opacity: 0.9;
    text-align: left;
}
div.headershow1 ul{
    margin-top: 1.3em;
    list-style-type: none;
    float: left;
    padding-right: 30px;
}
div.headershow1 li{
    float: none;
    width: 100px;
    line-height: 20px;
    margin: 10px 0px;
}
div.headershow1 .b0{
    border-right: 1px dashed #333;
}
div.headershow1 a{
    text-decoration: none;
    color: #333;
}

/* 产品列表下拉列表结束 */
/* 技术服务下拉列表开始 */

div.headershow2{
    width: 100%;
    position: absolute;
    top: 80px;
    line-height: 80px;
    z-index: 9;
    text-align: center;
    background: #fff;
    opacity: 0.9;
}
div.headershow2 ul{
    margin-left: 700px;
    list-style-type: none;
}
div.headershow2 li{
    float: left;
    width: 150px;
    text-align: center;
}
div.headershow2 a{
    text-decoration: none;
    color: #333;
}

/* 技术服务下拉列表结束 */
/* header效果结束 */
/* ———————————————————————————————————————————————————————————————————————————————————————————————————— */
/* header结束 */
/* banner开始 */

div.banner .ols{
    position: absolute;
    left: 80%;
    width: 20%;
    margin: 0px;
    padding: 0px;
}
div.banner .ols>li{
    width: 0.7em;
    height: 0.7em;
    border: 0px;
    border-radius: 0px;
}

/* banner结束 */
/* nav开始 */
div.nav{
    width: 100%;
    background: #fff;
    padding: 80px 0px ;
}
div.nav.fixed{
    position: fixed;
    top: 0px;
    height: 80px;
    width: 100%;
    background: #fff;
    padding: 20px 0px;
    opacity: 0.9;
    z-index: 7;
}
div.nav>div>ul{
    list-style-type: none;
}
div.nav>div>ul>li{
    float: left;
    text-align: center;
    width: 11%;
    border-left: dashed 1px #ccc;
}
.nav_lastli{
    border-right: dashed 1px #ccc;
}
div.nav>div>ul>li.fixed0{
    border: 0px;
}
div.nav a{
    width: 100px;
    color: #333;
}
div.nav img{
    padding: 20px 35%;
}
div.nav img.fixed1{
    padding: 0px;
}

/* nav结束 */

/* 图片展开start */

.banner_spread div{
    padding: 0px;
    margin: 0px;
}

.banner_spread img{
    width: 100%;
}

.banner_spread .banner_spread1{
    position: absolute;
    top: 75%;
    left: 40%;
    z-index: 5;
    width: 100px;
    text-align: center;
}
.banner_spread .banner_spread1>img{
    width: 54px;
    margin: 10px 20px 20px;
}
.banner_spread .banner_spread1>span{
    color: #fff;
    font-size: 18px;
}
div.banner_show div{
    padding: 0px;   
    margin: 0px;
}
.banner_show img{
    display: none;
    width: 100%;
}

/* banner_spread  end */
/* 畅销榜单start */

/* .list{
    margin-top: 50px;
}
.list>div{
    padding: 0px;
}
.list img{
    width: 100%;
} */

.lists{
    background: url(../img/index-img2.jpg) no-repeat;
    background-size: 100%;
    height: 100%;
}
.lists>div{
    margin-top: 80px;
    padding: 0px;
    margin-bottom: 50px;
}
.lists ul{
    list-style-type: none;
}
.lists li>img{
    width: 43%;
    float: left;
    height: 155px;
    margin-top: 12.5px;
    margin-right: 30px;
}
.lists>div>h3{
    position: absolute;
    top: 0%;
    left: 0%;
    color: #fff;
}
.lists>div>h3>span{
    font-size: 26px;
}
.lists>div>h3>p{
    font-size: 12px;
    padding-left: 56px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.lists>div>h3>a{
    color: #fff;
    font-size: 12px;
    padding-left: 136px;
}
.lists>div>h3>.lists_more{
    text-align: center;
    display: inline-block;
    background: #fff;
    color: #1a355e;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-left: 50px;
    padding: 0px;
}

/* 畅销榜单end */
/* 关于我们start */

div.about div{
    margin-top: 50px;
    margin-bottom: 20px;
}
div.about img{
    width: 100%;
    height: auto;
}
div.about span{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 404px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    z-index: 2;
    background: #193A66;
    color: #fff;
    opacity: 0.8;
}
div.abouts div{
    margin-bottom: 50px;
}
div.abouts img{
    width: 100%;
    height: auto;
}
div.abouts .abouts_bg{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 259px;
    height: 259px;
    line-height: 259px;
    text-align: center;
    z-index: 2;
    background: #193A66;
    color: #fff;
    opacity: 0.8;
}
/* 关于我们end */
/* footer开始 */

div.footer{
    background: #F6F6F6;
}
div.footer ul{
    margin-top: 50px;
    list-style-type: none;
    float: left;
}
div.footer1 li{
    width: 150px;
    line-height: 30px;
}
div.footer a,.footer_bot a{
    color: #777;
}
div.footer2 li{
    width: 200px;
    line-height: 46px;
}
.footer_imgs img{
    width: 200px; 
}
.footer_text{
    font-size: 30px;
}
.footer_bot{
    padding-top: 50px;
    padding-bottom: 70px;
    background: #F6F6F6;
}
.footer_bot_1{
    text-align: right;
}
/* footer结束 */

/* _____________________________________________________________*/

/* 移动开始 */
/* div.banner0{
    height: 1000px;
} */
div.banner0 img{
    width: 100%;
}
div.header0{
    position: absolute;
    top: 20px;
    z-index: 9;
    width: 100%;
}
div.header0 .img_0{
    float: right;
}
.show_0{
    background: #fff;
    z-index: 999;
    position: absolute;
    width: 100%;
}
.show_0 .show_0_0{
    width: 100px;
    margin: 30px 30px;
}
.show_0 .show_0_1{
    height: 70px;
    float: right;
}
.show_0 ul{
    list-style-type: none;
}
.show_0 li{
    line-height: 50px;
    border-bottom: 1px solid #777;
}
.show_0 span{
    float: right;
    font-size: 26px;
}
.show_0 a{
    color: #333;
    margin-left: 20px;
}
.show_0 a>img{
    width: 20px;
}
.show_0 .button-1,.show_0 .button-2,.show_0 .button-3,.button-2>ul>li{
    padding-right: 10px;
    border-bottom: 0px ;
}
.show_0 li>div{
    border-bottom: 1px solid #777;
}

.content0 div{
    padding: 0px;
}
.content0 img{
    width: 100%;
}
.footer0{
    text-align: center;
    margin-bottom: 50px;
}
.footer0 a{
    color: #5d5d5d;
}